# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svds
*.suo
*.user
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.gradle/
.idea/
.consulo/
.vs


# Ignore the following file extensions
*.DS_Store
build
*.s
*.csproj
*.unityproj
ios-dev
us_ios
*.apk
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-Editor-vs.unityproj
Assembly-UnityScript-Editor.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
*.sln
*.iml
*.userprefs
devBuild
iosBuild
Assets/Logs
Logs.meta
Bundles
.consulo
Logs
webGL
*.pyc
Assets/Editor/mod_pbxproj.pyc.meta
Assets/Editor/objc_helper.pyc.meta
Assets/Editor/os_helper.pyc.meta
Documents
wp-build/
UWP_build/
UWP/Assembly-CSharp/
UWP/Assembly-CSharp-firstpass/
UWP8_build/
UWP10_build/
bin/
*.dwlt
*/OPS/Obfuscator/Log/*
*/OPS/Obfuscator.Pro/Log/*
*/Assets/OPS/Obfuscator.Pro/Log/*
*/Obfuscator_UnityObject_RenamingTable.obf
*/Assets/OPS/Obfuscator.Pro/*.meta
*/Assets/OPS/Obfuscator/*.meta
*/Assets/OPS/Obfuscator/Log/*
/Jetx24/Assets/Game/Scenes/BeautifulCater.unity
